@model SimpleBlog.Areas.Admin.ViewModels.UsersResetPassword

<h1>Reset password for @Model.Username</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();

    <div class="form-group">
        @Html.LabelFor(f => f.Password)
        @Html.TextBoxFor(f => f.Password, new { @class = "form-control"})
    </div>

    <input type="submit" value="Reset password" class="abtn btn-primary" />
    <a href="@Url.Action("edit")"> or cancel</a>
}